- for post in @posts
  .post    
    .mark 22.01.2008    
    .post-title
      %a{:href => "posts/#{post.id}"}= post.title
    .post-body= post.body
    .post-footer
      %a{:href => "posts/#{post.id}#comments"}= "Comments(#{post.comments.count})"      
      = for_me "%a{ :href => 'posts/edit/#{post.id}' } Edit"
      = for_me "%a{ :href => 'posts/delete/#{post.id}' } Delete"
  
= for_me "%a{ :href => 'posts/add' } Add new post"