!!!
%html
  %meta{"http-equiv" => 'Content-Type', "content" => 'text/html'}
  %head
    %link{ :rel=>"stylesheet", :href=>"/style.css", :type=>"text/css"}    
    %link{ :rel=>"stylesheet", :href=>"/css/lightbox.css", :type=>"text/css"}    

    %script{ :type => "text/javascript", :src => "/js/prototype.js"}
    %script{ :type => "text/javascript", :src => "/js/scriptaculous.js?load=effects,builder"}
    %script{ :type => "text/javascript", :src => "/js/lightbox.js"}
    %script{ :type => "text/javascript", :src => "/js/qtip.js"}

    %title Gallery    
  %body{ :id => "gallery" }    
    #content
      =partial :navigation    
      %br
  
      - for gallery in @galleries        
        .mark= gallery.name
        .gallery
          - for image in gallery.images
            %a{:href=> "#{image}", :rel => "lightbox[#{gallery.name}]", :title => "#{gallery.name}", :tiptitle => "In this case it's all < a > tags<br><b>Fuck it all!</b>"}     
              %img{:src => "#{image.preview}"}
              