!!!
%html
  %meta{"http-equiv" => 'Content-Type', "content" => 'text/html'}
  %head
    %link{ :rel=>"stylesheet", :href=>"/style.css", :type=>"text/css"}    
    %link{ :rel=>"stylesheet", :href=>"/css/lightbox.css", :type=>"text/css"}    

    %script{ :type => "text/javascript", :src => "/js/prototype.js"}
    %script{ :type => "text/javascript", :src => "/js/scriptaculous.js?load=effects,builder"}
    %script{ :type => "text/javascript", :src => "/js/lightbox.js"}

    %title Gallery    
  %body{ :id => "gallery" }    
    #content
      =partial :navigation    
      %br
  
      - for gallery in @galleries        
        .mark= gallery.name
        .gallery
          - for preview in gallery.previews
            %a{:href=> "gallery/#{gallery.name}/#{preview}", :rel => "lightbox[#{gallery.name}]", :title => "#{gallery.name}."}     
              %img{:src => "gallery/#{gallery.name}/previews/#{preview}"}